* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    margin: 3rem;
    width: 70%;
    height: 80vh;
    border-radius: 10px;
}

.container h1 {
    margin: 3rem auto;

}

.to-do {
    margin: 2rem auto; 
}

#to-do-input {
    width: 15rem;
    height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    border-radius: 5px;
    border: none;
    margin-right: 1rem;
}

#add-button {
    width: 5rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: rgb(46, 163, 231);
}

.tasks {
    /* border: 2px solid red; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; */
    margin-left: 2rem;
    
}

.tasks h2 {
    margin-bottom: 1rem;
}

#to-do-list{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
   
}

.tasks label {
    width: 80%;
    margin-left: 0.5rem;
    word-wrap: normal;

    /* color: blue; */
    text-decoration: none;
}

.task-div {
    
    background-color: rgb(46, 163, 231);
    width: 90%;
    word-wrap: normal;
    display: flex;
    /* justify-content: space-between; */
}

#task-button {
    width: 1rem;
    height: 1.2rem;
    margin-right: 10rem;
    /* justify-content: flex-end; */
 
    color: red;
    font-weight: 600;
    border: 2px solid black;
}
